@import "tailwindcss";

@theme {
  --font-ibm: "IBM Plex Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-header-main: #324b4c;
  --color-footer-main: #85d4d6;
  --color-footer-hover: #0b58ca;
  --color-side-line-big: #e1f7f7;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    @apply font-ibm;
  }
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/* 
* {
  outline: 1px solid #f00 !important;
} */
